body{
    overflow: hidden;
    color: white;
 }
.cursor-pointer{
    cursor: pointer;
 }
.colorsh::placeholder { 
    color: white;
    opacity: 0.2; 
  }
.layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition:all .5s;
}
.mealImage:hover .layer {
    top: 0;
}
.meallist:hover .layer {
    top: 0;
}
.loading{
    z-index: 999;
    display: flex;
}
.links li{
    position: relative;
}
.active{
    display: block;
}
.nonactive{
    display: none;
}